<div class="container">
  <div class="row">
    <div class="search-hero">
      <input
        class="form-control"
        type="text"
        name="search"
        [(ngModel)]="searchText"
        autocomplete="off"
        placeholder="&#61442;  Start searching for a event"
      />
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Sn No</th>
          <th>Event Name</th>
          <th>Start Date</th>
          <th>End Date</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let event of events?.heros | filter: searchText;
            let i = index
          "
        >
          <td>{{ i + 1 }}</td>
          <td>{{ event.eventName }}</td>
          <td>{{ event.startDate | date: "shortDate" }}</td>
          <td>{{ event.endDate | date: "shortDate" }}</td>
          <td>
            <button
              class="btn btn-default btn-sm"
              (click)="deleteEvent(event._id)"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
