<form
  [formGroup]="addEventForm"
  novalidate
  (ngSubmit)="createEventFn()"
  class="example-form text-center well"
>
  <mat-form-field class="example-full-width">
    <input
      matInput
      placeholder="Tournament Name"
      value=""
      formControlName="eventName"
    />
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      [matDatepicker]="picker1"
      placeholder="Start Date"
      formControlName="startDate"
    />
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      [matDatepicker]="picker2"
      placeholder="End Date"
      formControlName="endDate"
    />
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
  </mat-form-field>

  <button class="btn btn-primary" type="submit">Add Tournament</button>
</form>

